/* About page */

#aboutpage {
	font-family: "Montserrat";
	text-align: left;
}

#aboutpage h1 {
	margin-bottom: 2%;
	text-transform: uppercase;
}

#aboutpage h2 {
	text-align: center;
	margin-top: 4%;
	margin-bottom: 4%;
	text-transform: uppercase;
}

#aboutpage h4 {
	margin-top: 4%;
	margin-bottom: 4%;
	text-align: center;
	text-transform: uppercase;
}

#aboutpage img {
	display: block;
	width: 200px;
	height: 200px;
	margin: 0 auto;
}

.person p {
	text-align: justify;
}

/* Contacts page */

#contactspage {
	font-family: "Montserrat";
	text-align: left;
}

#contactspage h1 {
	text-transform: uppercase;
	margin-bottom: 1%;
}

.container {
	margin-top: 3%;
}

.map {
	margin-top: 2%;
	text-align: center;
	margin-bottom: 2%;
}

/* Bottom Navbar */

.navbar-white{
	font-family: 'Montserrat', sans-serif;
	padding: 10px 0px 10px 0px;
}

.navbar-brand img{
	height: 50px;
}

.navbar-brand{
	padding: 0px 15px 0px 15px;
}

.nav li{
	padding: 15px;
}

.nav>li>a{
	padding: 0px;
	color: #a8a8a8;
	margin-bottom: 5px;
	border-bottom: #fff solid 1px;

}

.nav>li>a:focus, .nav>li>a:hover{
	background-color: #fff;
	color: #000;
	border-bottom: #000 solid 1px;
}

.social{
	float: right;
	line-height: 20px;
	padding: 15px 0px 15px 0px;
}

.social a{
	color: #666;
}


.social a:hover, .social a:focus{
	text-decoration: none;
	color: #a8a8a8;
}
